*{
    font-family: 'Azeret Mono', monospace;
    box-sizing: border-box;
}
.navbar-dark .navbar-brand:hover{
    color: #ff9a00;
}
.navbar-dark{
    z-index: 2;
    background-color: #000;
    position: fixed;
    top:0;
    width: 100%;
}
.navbar-nav .nav-item{
    padding: 0 0.5rem;
    position: relative;
}
.navbar-nav .nav-item .nav-link i:hover{
    background-color: #ff9a00;
}
.nav-link:hover{
    transform: scale(1.1);
  }

.landing-top{
    width: 100%;
    position: fixed;
    height: 140vh;
    background-color: #000;
}
@media (min-width: 768px){
    .landing-top{
        padding: 5vh 12.5% 0 12.5%;
    }
}

.cover{
    width: 100%;
    height: 100vh;
    color: #ff9a00;
    box-sizing: border-box;
    padding: 10% 32px 0 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    left:0;
    justify-content: center;
}
.longer-text{
    opacity:0;
    transition:opacity .5s ease-out 1.5s;
    
}
.short-text{
    position: relative;
}
.short-text .lead::after {
    position:absolute;
    content: "";
    top: 4px;
    width: 3px;
    height: 20px;
    background: #ff9a00;
    display: inline-block;
    opacity: 1;
    transition:opacity .5s ease-out 1.5s;
    animation: cursor-blink 2s steps(2) infinite;
  }

  @keyframes cursor-blink {
    0% {
      opacity: 0;
    }
  }

.short-text:hover span.longer-text{
    opacity: 1;
    transition:opacity .5s ease-in 0s;
   
}
.short-text:hover .lead::after{
    opacity:0;
    transition:opacity .5s ease-out 0s;
}
.arrow {
    color: white;
    font-size: 12px;
    font-weight: 400;
    opacity: .6;
    margin:20% 0 0;
}

.floating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @keyframes floating {
    0%  { transform: translate(0, 0px); }
    50%  { transform: translate(0, 5px); }
    100%   { transform: translate(0, 0px); }   
  }


.info{
    position: absolute;
    top: 130vh;
    margin-top: 10%;
    padding: 1rem .5rem;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}
.project-row{
    justify-content: center;
}
.info .card{
    margin: 0;
    padding: 0;
    height: 350px;
    min-height: 300px;
}
.info .card:hover{
    transform: scale(1.03);
}
.card-body{
    padding: 0;
    height: auto;
}
.card-title{
    padding: 0 .5rem;
}
.card-text{
    height: auto;
    padding: 0 .5rem;
}
.card-img{
    height: 105px;
    object-fit: cover;
}
@media (min-width: 900px){
    .project-row{
        justify-content: initial;
    }
    .info .card{
        max-width: 360px;
        margin: 1rem;
    }
}

.badge{
    color: #000;
    font-weight: normal;
    border: 1px solid #ff9a00;
    padding: .2rem;
}
.badge-mute{
    color: #000;
    font-weight: normal;
    border: 1px solid #000;
    padding: .2rem;
}
.badges{
    padding: 0 .5rem;
}
.text-orange{
    color: #ff9a00;
}
.project-headline{
    padding: 0 8.2%;
}