*{
    font-family: 'Azeret Mono', monospace;
    box-sizing: border-box;
}

.navbar-dark{
    z-index: 2;
    background-color: #000;
    position: fixed;
    top:0;
    width: 100%;
}
.navbar-nav .nav-item{
    padding: 0 0.5rem;
}
.landing-top{
    width: 100%;
    position: fixed;
    height: 140vh;
    background-color: #000;
}
@media (min-width: 768px){
    .landing-top{
        padding: 5vh 12.5% 0 12.5%;
    }
}

.cover{
    width: 100%;
    height: 100vh;
    color: #ff9a00;
    box-sizing: border-box;
    padding: 10% 32px 0 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    left:0;
    justify-content: center;
}
.arrow {
    color: white;
    font-size: 12px;
    font-weight: 400;
    opacity: .6;
    margin:20% 0 0;
}

.floating { 
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @keyframes floating {
    0%   { transform: translate(0, 0px); } 
    25% { transform: translate(0,  -3px); }
    50%  { transform: translate(0, 0px); }
    75%  { transform: translate(0, 3px); }
    100%   { transform: translate(0, 0px); }   
  }


.info{
    position: absolute;
    top: 130vh;
    margin-top: 10%;
    padding: 1rem .5rem;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

.info .card{
    padding: .5rem;
    margin: 0;
    height: auto;
    min-height: 415px;
}
.card-body{
    height:auto;
}
.card-text{
    height: auto;
}
.card-img{
    height: 50%;
}
@media (min-width: 768px){
    .info .card{
        max-width: 380px;
        margin: 1rem;
    }
}

.badge{
    color: #000;
    font-weight: normal;
    border: 1px solid #ff9a00;
    padding: .2rem;
}
.badge-mute{
    color: #000;
    font-weight: normal;
    border: 1px solid #000;
    padding: .2rem;
}